In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("/kaggle/input/titanic/train.csv")
df.head()   
df.tail()   
df.shape
df.info()
df.describe()
df['Sex'].unique()
df['Embarked'].unique()
df['Pclass'].unique()
target = 'Survived'
X = df.drop(columns=[target])
y = df[target]

X.head(), y.head()
df.isnull().sum()
df['Survived'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Survived
0    549
1    342
Name: count, dtype: int64